.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.card {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}
.restuarentcard{

    display: flex;
    flex-wrap: wrap;
}


.shimmer-card{

height: 200px;
width: 200px;
background-color: lightgray;
margin: 20px



}

.menu-style{
  display: flex;
}